@charset "utf-8";
.loginicon {
	width: 23px;
	height: 23px;
	float: left;
    margin: 34px auto;
}
.infoicon {
	width: 23px;
	height: 23px;
	float: left;
    margin: 34px auto;
}
.separator {
	float: left;
	margin: 38px 8px auto;
	height: 18px;
	font-family: "Fjalla One", sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.headertext {
	float: left;
	margin: 38px inherit;
	width: 132px;
	height: 18px;
	font-family: "Fjalla One", sans-serif;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
}
.headertext:hover{
	color: rgb(137, 188, 140);
}
.triangle {
	width: 14px;
	height: 14px;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	font-weight: 900;
	float: left;
    margin: 34px auto;
}
.elogo {
	width: 23px;
	height: 23px;
	float: left;
    margin: 34px 20px auto;
}
}