@charset "utf-8";
form {
                width:245px;
				height: 30px;
				float: left;
                margin: 30px auto;
				padding-left: 80px;
}
.search {
	            padding:6px 30px;
                background:#fafafa;
                border:0px solid #dbdbdb;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				text-align: start;
				text-indent: 10px;
}
.button {
                position: absolute;
                padding:5px 8px;
                border:0px solid rgb(137, 188, 140);
                background-color:rgb(137, 188, 140);
                color:#fafafa;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 0px;
				border-top-right-radius: 0px;
				border-top-left-radius: 20px;
}
.button:hover  {
                background-color:#fafafa;
                color:rgb(137, 188, 140);
}